@import "headers";
a {
  text-decoration-style: wavy;
  &:visited { color: initial; }
}

#cv > div > div:first-child { flex-grow: 1; }

/**/
#cv {
  // padding: 0em 0 1em 0;
	height: 100%;
	width: 100%;
	color: $text-color;
	border: $border-size dashed $text-color;
	background-color: $bg-color;
  font-family: $font-family;
  overflow: auto;

  img {
    display: initial;
    // position: relative;
    // bottom: $border-size;
    // right: $border-size;
    height: 150px;
    border-left: $border-size solid $text-color;
    border-bottom: $border-size solid $text-color;
  }
}
#one { padding-left: 3%; }
#two { padding-left: 50%; }
#three { padding-left: 33%; }
#four { padding-left: 10%; }

#one {
	display: flex;
	justify-content: space-between;
}
